/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Noto+Sans+Armenian&family=Open+Sans&display=swap');

@font-face {
    font-family: "SONGER SemiExpanded";
    src: url("../fonts/songersemiexpanded/SONGER™_SE_Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SONGER SemiExpanded";
    src: url("../fonts/songersemiexpanded/SONGER™_SE_Bold.otf");
    font-weight: bold;
}
html {
    color: #ffffff;
}

a {
    color: #ffffff;
}

a, a:hover, a:active {
    text-decoration: none;
}

.line {
    height: 0px;
    border: 0.5px solid #323232;
}

/* Header Start */
header {
    background-color: #161616;
    border-bottom: 1px solid #fff;
    color: #ffffff;
}

.navbar-logo {
    font-family: "SONGER SemiExpanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.navbar-logo_name_1 {
    color: #FF1D19;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar .container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-nav_call-btn {
    background-color: #FF1D19;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 3px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: 30px;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-collapse.show .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.navbar-collapse.show .navbar-nav .nav-item {
    padding: 25px;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #fff;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse.show {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 105px;
    background-color: #161616;
    border-left: 1px solid #fff;
}

.navbar-collapse.show .navbar-nav-buttons .order-call-btn {
    border: 2px solid #FFF;
    background: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 76px;
    padding: 13px 64px;
    text-align: center;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-nav-buttons .order-call-btn:hover {
    background-color: #FFF;
    color: #000;
}

@media screen and (min-width: 1280px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-nav_call-btn {
        display: none;
    }

    .navbar-collapse {
        display: flex !important;
        align-items: center;
        flex-grow: 1;
        margin-left: 50px;
    }

    .navbar-collapse .navbar-nav .nav-item {
        color: #FFF;
        text-align: center;
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .navbar-collapse .navbar-nav .nav-item:not(:last-child) {
        margin-right: 30px;
    }

    .navbar-nav-buttons {
        margin-left: auto;
        color: #FFF;
        text-align: center;
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .navbar-nav-buttons .order-call-btn {
        margin-left: 40px;
        width: 176px;
        height: 34px;
        border: 1px solid #FFF;
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 16px;
    }
}
/* Header  End */

/* About Company Start */
.about-company-page-section {
    background: #FFF;
}

.page-road {
    padding-top: 30px;
    padding-bottom: 40px;
}

.page-road>small {
    color: #A1A1A1;
    font-family: "Inter";
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 9px */
}


h1 {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 15px;
}

.page-heading {
    padding-bottom: 20px;
}

.paragraphs-in-abcomp-page {
    padding-top: 30px;
    padding-bottom: 60px;
}

.paragraphs-in-abcomp-page>p {
    color: #161616;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}

.paragraphs-in-abcomp-page>h2 {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 40px;
        padding-bottom:0;
    }

    .page-road {
        padding-top: 60px;
        padding-bottom: 37px;
    }

    .page-heading {
        padding-bottom: 35px;
    }

    .paragraphs-in-abcomp-page>h2 {
        color: #161616;
        font-family: "SONGER SemiExpanded";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }

    .paragraphs-in-abcomp-page {
        padding-top: 60px;
        padding-bottom: 100px;
    }
}
/* About Company End */

/* Master Section Start */
.master-section {
    background: #F6F6F6;
}

.master-section-heading-div {
    padding-top: 80px;
    padding-bottom: 84px;
}

.master-section-heading>h2 {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.master-img img {
    width: 100%;
}

.master p{
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
}

.master small {
    color: #A1A1A1;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: block;
    padding-top: 4px;
}

.master-items-part1 {
    padding-bottom: 30px;
}

.master-items-part2 {
    padding-bottom: 120px;
}

.master-section {
    padding-bottom: 120px;
}

.master-section-heading-div .line {
    background: #FF1D19;
}

@media screen and (min-width: 1280px)  {
    .master-section-heading-div {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .master-section {
        padding-bottom: 180px;
    }
}
/* Master Section End */


/* Autoservice Section Start */
.autoservice-heading>h2 {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.autoservice-heading-div {
    padding-top: 80px;
}

.autoservice-row .number {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}
.autoservice-row .symbol {
    color:#323232;
    font-family: "Inter";
    font-size: 51.2px;
    font-weight: 400;
}

.autoservice-row p:nth-child(2) {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.lonely-p {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.right-side>p {
    border-left: 1px solid #A1A1A1;
}

.right-side {
    padding-bottom: 50px;
}
.autoservice-row-items {
    padding-top: 41px;
    padding-bottom: 60px;
}

.autoservice-img-div {
    padding-bottom: 102px;
}

@media screen and (min-width: 1280px) {
    .logo-images-ds {
        align-items: center;
        padding-left: 59px; 
        padding-right: 59px;
    }

    .logo-images-ds img:not(:last-child) {
        padding-right: 50px;
    }

    .autoservice-heading-div {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .autoservice-section {
        padding-bottom: 102px;
    }

    .autoservice-heading-div .line {
        background: #A1A1A1;
    }
}
/* Autoservice Section End */

/* Footer Start */
.footer-img-responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
}


.contact-heading-div {
    padding-top: 80px;
    padding-bottom: 31px;
}

.contact-heading-div h3 {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.hover-div:hover {
    background: #323232;
}

.hover-div {
    padding-top: 25px;
    padding-bottom: 25px;
}

.address-part h5 {
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 10px;
}

.address-part a {
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.address-part {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFF;
}

.work-time small {
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    padding-bottom: 5px;
}

.work-time-div {
    padding-top: 15px;
}

.register p {
    color: #FFF;
    text-align: center;
    font-family: "SONGER SemiExpanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register svg {
    width: 22px;
    height: 22px;
}

.footer-img {
    padding-top: 52px;
    padding-bottom: 60px;
}

.footer-p {
    color: #FFF;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; 
    padding-bottom: 35px;
}

.footer-info-codes{
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 15px;
}

.right-reservation {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 60px;
}

.master-contact {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1280px) {
    .contact-heading-div {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .contact-heading-div h3 {
        font-size: 40px;
    }

    .address-part h5 {
        font-size: 24px;
    }

    .address-part a {
        font-size: 20px;
    }

    .work-time small {
        font-size: 16px;
    }

    .footer-p {
        font-size: 14px;
        margin-left: 480px;
    }

    .footer-img img {
        width: 1040px;
        height: 666px;
    }

    .hover-div {
        padding-left: 45px;
        padding-right: 45px;
    }

    .contact {
        position: relative;
    }
    
    .footer-img {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .register {
        padding-top: 41px;
    }

    .footer-info-div {
        padding-top: 60px;
        position: relative;
    }

    .footer-info {
        padding-top: 60px;
        position: absolute;
        top: 0;
    }

    .footer-info-codes , .right-reservation  {
        font-size: 16px;
    }
}
/* Footer End */