/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Noto+Sans+Armenian&family=Open+Sans&display=swap');

@font-face {
    font-family: "SONGER SemiExpanded";
    src: url("../fonts/songersemiexpanded/SONGER™_SE_Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SONGER SemiExpanded";
    src: url("../fonts/songersemiexpanded/SONGER™_SE_Bold.otf");
    font-weight: bold;
}

html {
    color: #ffffff;
}

a {
    color: #ffffff;
}

a, a:hover, a:active {
    text-decoration: none;
}

.line {
    height: 0px;
    border: 0.5px solid #323232;
}

/* Header Start */

header {
    background-color: #161616;
    border-bottom: 1px solid #fff;
    color: #ffffff;
}

.navbar-logo {
    font-family: "SONGER SemiExpanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.navbar-logo_name_1 {
    color: #FF1D19;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar .container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-nav_call-btn {
    background-color: #FF1D19;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 3px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: 30px;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-collapse.show .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.navbar-collapse.show .navbar-nav .nav-item {
    padding: 25px;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #fff;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse.show {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 105px;
    background-color: #161616;
    border-left: 1px solid #fff;
}

.navbar-collapse.show .navbar-nav-buttons .order-call-btn {
    border: 2px solid #FFF;
    background: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 76px;
    padding: 13px 64px;
    text-align: center;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-nav-buttons .order-call-btn:hover {
    background-color: #FFF;
    color: #000;
}

@media screen and (min-width: 1280px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-nav_call-btn {
        display: none;
    }

    .navbar-collapse {
        display: flex !important;
        align-items: center;
        flex-grow: 1;
        margin-left: 50px;
    }

    .navbar-collapse .navbar-nav .nav-item {
        color: #FFF;
        text-align: center;
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .navbar-collapse .navbar-nav .nav-item:not(:last-child) {
        margin-right: 30px;
    }

    .navbar-nav-buttons {
        margin-left: auto;
        color: #FFF;
        text-align: center;
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .navbar-nav-buttons .order-call-btn {
        margin-left: 40px;
        width: 176px;
        height: 34px;
        border: 1px solid #FFF;
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 16px;
    }
}

/* Header  End */

/* First Section Start*/
.first-section-p3 {
    background-color: #fff;
    color:#161616;
}

.page-road>small {
    color: #161616;
    font-family: "Inter";
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
}

.page-road {
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading-p3 {
    padding-bottom: 30px;
}

.heading-p3>h1 {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.register-btn {
    color: #161616;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 54px;
    border: 2px solid #FFF;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 115px;
    font-family: "SONGER SemiExpanded";
    border: 1px solid  #161616;
}

.heading-img-p3 img {
    width: 100%;
    height: auto;
}

.coast-heading>h3 {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.first-group-small {
    color: #A1A1A1;
    font-family: "SONGER SemiExpanded";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.first-group-small small:nth-child(2) {
    color: #A1A1A1;
    font-family: "SONGER SemiExpanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration-line: strikethrough;
}

.first-group-small small:nth-child(3) {
    color: #A1A1A1;
    font-family: "SONGER SemiExpanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.second-group-small {
    color: #FF1D19;
    font-family: "SONGER SemiExpanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.second-group-small small:nth-child(2) {
    color: #FF1D19;
    font-family: "SONGER SemiExpanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.paragraph-in-midcont>p {
    color: #161616;
    text-align: justify;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.time-guaranty>p {
    color: #161616;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.paragraph-in-midcont {
    padding-bottom: 101px;
}

@media screen and (min-width: 1280px) {
    .page-road>small {
        font-size: 12px;
    }
    
    .page-road {
        padding-top: 55px;
        padding-bottom: 60px;
    }
    
    .heading-p3 {
        padding-bottom: 60px;
    }
    
    .heading-p3>h1 {
        font-size: 40px;
    }
    
    .middle-container {
        padding-left: 100px;
        padding-right: 112px;
    }

    .heading-img-p3 img {
        width: 500px;
        height: 270px;
    }
    
    .time-guaranty>p {
        color: #161616;
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }
}

/* First Section End*/
/* Second Section Start */
.second-section-heading h2 {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 36px */
}

.second-section-heading {
    padding-top: 60px;
    padding-bottom: 15px;
}

.row-second-section {
    position: relative;
    padding-bottom: 20px;
}

.content-img {
    position: relative;
    padding-bottom: 109px;
}

.big-img {
    width: 299px;
}

.small-img {
    position: absolute;
    top: 150px;
    left: 190px;
}

.row-number {
    color: rgba(255, 255, 255, 0.10);
    font-family: "SONGER SemiExpanded";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}

.row-paragraph {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.962px;
    position: absolute ;
    top: 20px;
    left: 40px;
}

.first-part {
    padding-bottom: 95px;
    order: 2;
}

.second-part {
    order: 1;
}

@media screen and (min-width: 1280px) {
    .second-section-heading h2 {
        font-size: 40px;
    }

    .second-section-heading {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .second-part {
        order: 3;
    }

    .first-part {
        order: 1;
    }

    .invisible {
        order: 2;
    }

    .row-paragraph {
        font-size: 18px;
        line-height: 30px;
    }

    .row-number {
        font-size: 70px;
        line-height: 130%;
    }

    .small-img {
        width: 287px;
        height: 228px;
        top: 202px;
        left: 280px;
    }

    .big-img {
        width: 458px;
        height: 306px;
    }

    .content-img {
        padding-bottom: 0px ;
    }
}
/* Second Section End */
/* Blog Section Start */
.blog-section {
    background-color: #F6F6F6;
}

.blog_section_heading {
    padding-top: 80px; 
    padding-bottom: 60px;
}

.blog_section_heading h2 {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.blog-catalog {
    color: #161616;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.blog-catalog>svg {
    width: 22px;
    height: 22px;
}

.block-heading {
    color: #161616;
    font-family: "SONGER SemiExpanded";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.blog-block {
    background-color: #FFF;
    margin-bottom: 20px;
}

.block-quote {
    color: #000;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.blog-block small {
    color: #A1A1A1;
    font-family: "SONGER SemiExpanded";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: block;
    padding-bottom: 35px;
}



@media screen and (min-width: 1280px) {
    .blocks {
        padding-bottom: 180px;
    }

    .blog_section_heading {
        padding-top: 120px;
        padding-bottom: 40px;
    }
    
    .blog_section_heading h2 {
        font-size: 40px;
    }
}
/* Blog Section End */ 

/* Footer Start */
.contact-heading-div {
    padding-top: 80px;
    padding-bottom: 31px;
}

.contact-heading-div h3 {
    color: #FFF;
    font-family: "SONGER SemiExpanded";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.hover-div:hover {
    background: #323232;
}

.hover-div {
    padding-top: 25px;
    padding-bottom: 25px;
}

.address-part h5 {
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 10px;
}

.address-part a {
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.address-part {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFF;
}

.work-time small {
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    padding-bottom: 5px;
}

.work-time-div {
    padding-top: 15px;
}

.register p {
    color: #FFF;
    text-align: center;
    font-family: "SONGER SemiExpanded";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register svg {
    width: 22px;
    height: 22px;
}

.footer-img {
    padding-top: 52px;
    padding-bottom: 60px;
}

.footer-p {
    color: #FFF;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; 
    padding-bottom: 35px;
}

.footer-info-codes{
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 15px;
}

.right-reservation {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 60px;
}

.master-contact {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1280px) {
    .contact-heading-div {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .contact-heading-div h3 {
        font-size: 40px;
    }

    .address-part h5 {
        font-size: 24px;
    }

    .address-part a {
        font-size: 20px;
    }

    .work-time small {
        font-size: 16px;
    }

    .footer-p {
        font-size: 14px;
        margin-left: 480px;
    }

    .footer-img img {
        width: 1040px;
        height: 666px;
    }

    .hover-div {
        padding-left: 45px;
        padding-right: 45px;
    }

    .contact {
        position: relative;
    }

    .footer-img {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .register {
        padding-top: 41px;
    }

    .footer-info-div {
        padding-top: 60px;
        position: relative;
    }

    .footer-info {
        padding-top: 60px;
        position: absolute;
        top: 0;
    }

    .footer-info-codes , .right-reservation  {
        font-size: 16px;
    }
}
/* Footer End */